*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(29, 29, 29);
    overflow-y: hidden;
}

#main_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
h1{
    color: rgb(229, 206, 255);
    font-size: 38px;
    padding: 15px;
}
h2{
    font-size: 30px;
    color: rgb(229, 206, 255);
    padding: 10px;
}
.section_container{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    padding: 15px;
}
#form_abm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.form-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    color: white;
}
.form-row input, .form-row select{
    padding-right: 0;
    padding-left: 0;
}
#table_lista{
    display: block;
    overflow-x: scroll;
}
#table_lista th tr{
    display: flex;
    flex-direction: row;
}

#table_modificar, #table_eliminar{
    border:0px;
    cursor: default;
}

#table_modificar:hover, #table_eliminar:hover {
    background-color: inherit;
    color: inherit;
}

.hidden{
    display: none;
}

.input_tooltip{
    font-weight: bolder;
    color: rgb(173, 173, 173);
}
#abm_container{
    display: none;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}